.posts-wrapper {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-post {
    width: 90%;
    padding-left: 50px;
    margin-top: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.containet-post__user-name {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: #000000;
}

.containet-post__user-email {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.containet-post__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-top: 20px;
}

.containet-post__title::first-letter {
    text-transform: uppercase;
}

.containet-post__text::first-letter {
    text-transform: uppercase;
}


.containet-post__text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
}

.containet-post__delete-button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    background-color: #708090;
    border: 1px solid #666666;
    border-radius: 5px;
}